<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crm.onenetcontroller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- OneNET product api-key -->
        <meta-data
            android:name="com.chinamobile.iot.onenet.APP-KEY"
            android:value="T5F8ks=tE68sol=Ib=oky8hDviI=" />

        <!-- OneNET server host -->
        <meta-data
            android:name="com.chinamobile.iot.onenet.HOST"
            android:value="api.heclouds.com" />

        <!-- activity -->
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.DeviceActivity" />
        <activity android:name=".activity.DSItemViewActivity"></activity>

        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService"/>
        <service android:name="com.crm.onenetcontroller.service.MQTTService"/>
        <service android:name=".service.UpdateWidgetService"/>

        <!--Custom Music Widget-->
        <receiver android:name="com.crm.onenetcontroller.widget.MusicWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />

                <action android:name="android.intent.action.SCREEN_ON" />

            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_music_info" />
        </receiver>
    </application>

</manifest>